
    <footer class="footer bg-base">
      <div class="content has-text-centered has-text-white">
        <div class="mb-2">
          <a href="https://discord.gg/BASBGn7Gwh" class="has-text-white" target="_blank">
            <i class="fa-brands fa-discord"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://github.com/nova-develoment-team/" class="has-text-white" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>

        <p>
          <span class="has-text-weight-bold">Nova</span>
          <br />
          &copy; <span id="cp-year"></span> Copyright Duckey. All Rights
          Reserved.
        </p>

        
      </div>
    </footer>  